<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <h1 p style = "text-align:center">San Marcos Random Restaurant Generator</h1>
        <h2 p style = "text-align:center">{{restaurant_name}}</h2>
        <h2 p style = "text-align:center">{{restaurant_price}}</h2>
        <h2 p style = "text-align:center">{{restaurant_address}}</h2>
        <h2 p style = "text-align:center">{{restaurant_is_open}}</h2>
        <p style="text-align:center;"><img src = "{{restaurant_image_url}}"></p>
    </body>
</html>
